<!-- <div class="container-fluid">
  <div class="row flex-nowrap">
      <div class=" fixed col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark sidebars">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 h-75" >
              <h2  class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">non et prenon</span>
              </h2>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">




                  <li>
                      <a routerLink="/user/profil" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Profil</span> </a>
                  </li>
                  <li>
                    <a routerLink="/user/update" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Update</span> </a>
                </li>
              </ul>
              <hr>
              <div class="btn-group">
                <h2 class=" d-flex align-items-center text-white text-decoration-none dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1">loser</span>

                </h2>
                <div class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/logout">logout</a></li>
                  <li><a class="dropdown-item" routerLink="/user/update">profile</a></li>

                </div>
              </div>

          </div>
      </div>
      <div class="col py-3">
        <header class="w3-container w3-xlarge">
          <p class="w3-left">welcome user</p>
          <form class="form-inline my-2 my-lg-0 w3-right">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </header>

        <router-outlet></router-outlet>
      </div>
  </div>
</div> -->
<h1>user works !</h1>
<router-outlet/>

